---
import Layout from "../../layouts/Layout.astro";
import Badge from "../../react/Badge";
import Button from "../../react/Button";
import Card from "../../react/Card";
import CreateStackForm from "../../react/CreateStackForm";
import Input from "../../react/Input";
---

<Layout title="Create Stack">
  <div class="max-w-screen-lg mx-auto mt-8">
    <Card>
      <CreateStackForm client:only="react" />
    </Card>
  </div>
</Layout>
