---
import { Icon } from "astro-icon/components";
import Layout from "../layouts/Layout.astro";
import Button from "../react/Button";
import Card from "../react/Card";
import Input from "../react/Input";
---

<Layout title="Login">
  <div class="flex items-center justify-center min-h-screen p-6">
    <Card class="w-full max-w-md">
      <div class="text-center mb-6">
        <div class="flex justify-center mb-2">
          <Icon name="lucide:box" class="h-12 w-12 text-emerald-600" />
        </div>
        <h1 class="text-2xl font-bold">Login to Panal</h1>
        <p class="text-gray-500 dark:text-gray-400">
          Docker Swarm Management UI
        </p>
      </div>

      <form class="space-y-4">
        <Input label="Username" name="username" required />

        <Input type="password" label="Password" name="password" required />

        <div class="pt-4">
          <Button type="submit" class="w-full"> Login </Button>
        </div>
      </form>
    </Card>
  </div>
</Layout>
